.App {
  text-align: center;
}

h1 {
  padding: 1rem;
  background-color: #81d2ef;
}

.Pokemon {
  padding: 1rem;
}

.type-icon {
  max-width: 80px;
  max-height: 80px;
  padding-bottom: 10px;
  padding-right: 3px;
}

.PokeImage {
  height: 200px;
  max-width: 200px;
}

.card {
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
